.hero-section-container{
    padding: 1.4rem 10% 4.4rem 10%;
    z-index: 0;
}

.hero-section-left{
    max-width: 28rem;
}

.hero-section-container{
    position: relative;
}

.left-box-hero-page{
    position: absolute;
    left: 12rem;
    top: 10rem;
    min-width: 14rem;
    max-width: 46.8rem;  
    color: white;
}

.heading-left-box-hero-page{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 4.4rem;
}

.heading-left-box-hero-page .highlight{
    background: rgba(203, 203, 203, 0.301);
    border-radius: 0.4rem;
    padding: 0.2rem 0.8rem;
}

.left-box-hero-page .desc{
    margin-top: 2rem;
    max-width: 34rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 1.4rem;
}