.navbar{
    position: absolute;
    top: 0;
    padding: 1.6rem 8%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.right-navbar-box{
    display: flex;
    gap:1.6rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.12rem;
    font-weight: 600;
}

.right-navbar-box a, .right-navbar-box span{
    cursor: pointer;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
